@import "../src/resposive.scss";
.listpage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;

    .wrapper {
      height: 500px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
    }
  }
  .mapContainer {
    flex: 2;
    height: 570px;
    background-color: #fcf5f3;

    @include md {
      display: none;
    }
  }
}
